{% include base_path %}

<!-- start custom head snippets -->
<!-- Default -->
<!-- <link rel="shortcut icon" href="https://juliusgarbe.github.io/images/favicon/favicon.ico?ver=3.1"> -->
<!-- <link rel="icon" type="image/png" sizes="32x32" href="https://juliusgarbe.github.io/images/favicon/favicon-32x32.png?ver=3.1"> -->
<!-- <link rel="icon" type="image/png" sizes="16x16" href="https://juliusgarbe.github.io/images/favicon/favicon-16x16.png?ver=3.1"> -->
<!-- iOS -->
<!-- <link rel="apple-touch-icon" sizes="57x57" href="https://juliusgarbe.github.io/images/favicon/apple-touch-icon-57x57.png?ver=3.1"> -->
<!-- <link rel="apple-touch-icon" sizes="60x60" href="https://juliusgarbe.github.io/images/favicon/apple-touch-icon-60x60.png?ver=3.1"> -->
<!-- <link rel="apple-touch-icon" sizes="72x72" href="https://juliusgarbe.github.io/images/favicon/apple-touch-icon-72x72.png?ver=3.1"> -->
<!-- <link rel="apple-touch-icon" sizes="76x76" href="https://juliusgarbe.github.io/images/favicon/apple-touch-icon-76x76.png?ver=3.1"> -->
<!-- <link rel="apple-touch-icon" sizes="114x114" href="https://juliusgarbe.github.io/images/favicon/apple-touch-icon-114x114.png?ver=3.1"> -->
<!-- <link rel="apple-touch-icon" sizes="120x120" href="https://juliusgarbe.github.io/images/favicon/apple-touch-icon-120x120.png?ver=3.1"> -->
<!-- <link rel="apple-touch-icon" sizes="144x144" href="https://juliusgarbe.github.io/images/favicon/apple-touch-icon-144x144.png?ver=3.1"> -->
<!-- <link rel="apple-touch-icon" sizes="152x152" href="https://juliusgarbe.github.io/images/favicon/apple-touch-icon-152x152.png?ver=3.1"> -->
<!-- <link rel="apple-touch-icon" sizes="180x180" href="https://juliusgarbe.github.io/images/favicon/apple-touch-icon-180x180.png?ver=3.1"> -->
<!-- <meta name="apple-mobile-web-app-title" content="Julius Garbe"> -->
<!-- Android -->
<!-- <link rel="manifest" href="https://juliusgarbe.github.io/images/favicon/site.webmanifest?ver=3.1"> -->
<!-- <link rel="icon" type="image/png" sizes="192x192" href="https://juliusgarbe.github.io/images/favicon/android-chrome-192x192.png?ver=3.1"> -->
<!-- <meta name="application-name" content="Julius Garbe"> -->
<!-- <meta name="theme-color" content="#ffffff"> -->
<!-- Safari -->
<!-- <link rel="mask-icon" href="https://juliusgarbe.github.io/images/favicon/safari-pinned-tab.svg?ver=3.1" color="#757575"> -->
<!-- IE -->
<!-- <meta name="msapplication-TileColor" content="#ffffff"> -->
<!-- <meta name="msapplication-TileImage" content="https://juliusgarbe.github.io/images/favicon/mstile-144x144.png?ver=3.1"> -->
<!-- <meta name="msapplication-config" content="https://juliusgarbe.github.io/images/favicon/browserconfig.xml?ver=3.1"> -->

<link rel="apple-touch-icon" sizes="57x57" href="https://juliusgarbe.github.io/images/favicon2/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://juliusgarbe.github.io/images/favicon2/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://juliusgarbe.github.io/images/favicon2/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://juliusgarbe.github.io/images/favicon2/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://juliusgarbe.github.io/images/favicon2/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://juliusgarbe.github.io/images/favicon2/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://juliusgarbe.github.io/images/favicon2/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://juliusgarbe.github.io/images/favicon2/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://juliusgarbe.github.io/images/favicon2/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="https://juliusgarbe.github.io/images/favicon2/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://juliusgarbe.github.io/images/favicon2/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://juliusgarbe.github.io/images/favicon2/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://juliusgarbe.github.io/images/favicon2/favicon-16x16.png">
<link rel="manifest" href="https://juliusgarbe.github.io/images/favicon2/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="https://juliusgarbe.github.io/images/favicon2/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- end custom head snippets -->