{% include base_path %}

<!-- start custom head snippets -->
<link rel="shortcut icon" href="/images/favicon/favicon.ico?v=0.2">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png?v=0.2">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png?v=0.2">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png?v=0.2">
<link rel="manifest" href="/images/favicon/site.webmanifest?v=0.2">
<link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg?v=0.2" color="#4f4f4f">
<link rel="shortcut icon" href="/images/favicon/favicon.ico?v=0.2">
<meta name="apple-mobile-web-app-title" content="Julius Garbe">
<meta name="application-name" content="Julius Garbe">
<meta name="msapplication-TileColor" content="#4f4f4f">
<meta name="msapplication-config" content="/images/favicon/browserconfig.xml?v=0.2">
<meta name="theme-color" content="#ffffff">
<!-- end custom head snippets -->
