{% include base_path %}

<!-- start custom head snippets -->
<!-- Default -->
<link rel="shortcut icon" href="https://juliusgarbe.github.io/images/favicon/favicon.ico?ver=2.0">
<link rel="icon" type="image/png" sizes="32x32" href="https://juliusgarbe.github.io/images/favicon/favicon-32x32.png?ver=2.0">
<link rel="icon" type="image/png" sizes="16x16" href="https://juliusgarbe.github.io/images/favicon/favicon-16x16.png?ver=2.0">
<!-- iOS, Android -->
<link rel="apple-touch-icon" sizes="180x180" href="https://juliusgarbe.github.io/images/favicon/apple-touch-icon.png?ver=2.0">
<link rel="apple-touch-icon" sizes="152x152" href="https://juliusgarbe.github.io/images/favicon/apple-touch-icon.png?ver=2.0">
<link rel="apple-touch-icon" sizes="114x114" href="https://juliusgarbe.github.io/images/favicon/apple-touch-icon.png?ver=2.0">
<link rel="apple-touch-icon" sizes="72x72" href="https://juliusgarbe.github.io/images/favicon/apple-touch-icon.png?ver=2.0">
<!-- Android -->
<link rel="manifest" href="https://juliusgarbe.github.io/images/favicon/site.webmanifest">
<!-- Safari -->
<link rel="mask-icon" href="https://juliusgarbe.github.io/images/favicon/safari-pinned-tab.svg?ver=2.0" color="#4f4f4f">
<!-- iOS web app -->
<meta name="apple-mobile-web-app-title" content="Julius Garbe">
<meta name="application-name" content="Julius Garbe">
<!-- IE, Windows -->
<meta name="msapplication-TileColor" content="#4f4f4f">
<meta name="msapplication-config" content="https://juliusgarbe.github.io/images/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<!-- end custom head snippets -->
